@page "/"



<PageTitle>Home</PageTitle>

<div>
    <h1>Películas</h1>
    <ListadoPeliculas Peliculas="Peliculas" />
</div>



<div>
    <h2>Crear Película</h2>

    @* <EjemploTextbox placeholder="Nombre Película" disabled /> *@

@*     <EjemploTextbox @attributes="@(new Dictionary<string, object>()
    {
        {"placeholder","nuevo placeholder"},
        {"disabled","true"}
    })" /> *@

    <EjemploTextbox @attributes="parametros" />
    <EjemploTextbox  />

</div>


@code {


    public List<Pelicula> Peliculas { get; set; }


    private Dictionary<string, object> parametros = new Dictionary<string, object>() {
        {"placeholder","nuevo placeholder 2"},
        {"disabled","true"}
    };




    protected override void OnInitialized()
    {
        Peliculas = ObtenerPeliculas();
    }

    List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>() {
            new Pelicula { Titulo ="Pelicula 01", FechaLanzamiento = new DateTime(2023,01,01)},
            new Pelicula { Titulo ="Pelicula 02", FechaLanzamiento = new DateTime(2024,01,01)},
            new Pelicula { Titulo ="Pelicula 03", FechaLanzamiento = new DateTime(2025,03,14)},
        };
    }
}