@page "/"



<PageTitle>Home</PageTitle>

<div>
    <h1>Películas</h1>
    <ListadoPeliculas Peliculas="ObtenerPeliculas()" />
</div>



@code {

    List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>() {
            new Pelicula { Titulo ="Pelicula 01", FechaLanzamiento = new DateTime(2023,01,01)},
            new Pelicula { Titulo ="Pelicula 02", FechaLanzamiento = new DateTime(2024,01,01)},
            new Pelicula { Titulo ="Pelicula 03", FechaLanzamiento = new DateTime(2025,03,14)},
        };
    }
}