@page "/"
@inject IRepositorio Repositorio


<PageTitle>Home</PageTitle>


<div>
    <h1>Películas</h1>
    <ListadoPeliculas Peliculas="Peliculas" />
</div>



@code {

    public List<Pelicula>? Peliculas { get; set; }

    protected override void OnInitialized()
    {
        Peliculas = Repositorio.ObtenerPeliculas();       
    }
      
}