@page "/"
@inject ServicioSingleton Singleton
@inject IRepositorio Repositorio



<p role="status">Singleton count: @Singleton.Valor</p>
<PageTitle>Home</PageTitle>

<HeadContent>        
    <meta name="description" content="Página de inicio de la aplicación de películas" />
</HeadContent>

<div>
    <h1>Películas</h1>
    <ListadoPeliculas Peliculas="Peliculas" />   
</div>



<div>
    <h2>Crear Película</h2>

    @* <EjemploTextbox placeholder="Nombre Película" disabled /> *@

    @*     <EjemploTextbox @attributes="@(new Dictionary<string, object>()
    {
        {"placeholder","nuevo placeholder"},
        {"disabled","true"}
    })" /> *@

    <EjemploTextbox @attributes="parametros" />
    <EjemploTextbox />

</div>



<BindEvento></BindEvento>
<BindGetSet></BindGetSet>
<BindAfter />



@code {


    public List<Pelicula> Peliculas { get; set; }


    private Dictionary<string, object> parametros = new Dictionary<string, object>() {
        {"placeholder","nuevo placeholder 2"},
        {"disabled","true"}
    };




    protected override void OnInitialized()
    {
        Peliculas = Repositorio.ObtenerPeliculas();
    }

   
}