@if (Peliculas is null)
{
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" />
}
else if (Peliculas.Count == 0)
{
    <p>No hay películas para mostrar!!</p>
}
else
{

    <div>
        <h3>Película</h3>
        @foreach (var pelicula in Peliculas)
        {
            <PeliculaIndividual Pelicula="pelicula"></PeliculaIndividual>
        }
    </div>

@* 
    <br />
    <br />
    <h1>Películas con for</h1>

    <div>
        <h3>Película</h3>


        @for (int i = 0; i < Peliculas.Count; i++)
        {
            <div>
                <p>@(i + 1)) Título: <b> @Peliculas[i].Titulo</b></p>
                <p>Fecha lanzamiento: <b>@Peliculas[i].FechaLanzamiento.ToString("dd MMM yyyy")</b></p>
            </div>
            <hr />
        }


    </div> *@
}

@code {
    [Parameter, EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }   

}
