@inject IJSRuntime js


<div style="display: flex; flex-wrap: wrap; align-items: center;">
    <ListadoGenerico Lista="Peliculas">
        <Registros Context="pelicula">
            <PeliculaIndividual Pelicula="pelicula" EliminarPelicula="EliminarPelicula" />
        </Registros>
    </ListadoGenerico>
</div>




@code {
    [Parameter, EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }



    //creamos un metodo para eliminar una pelicula
    public async Task EliminarPelicula(Pelicula pelicula)
    {
        // var confirmado = await js.InvokeAsync<bool>("confirm", $"Desea borrar la película {pelicula.Titulo} ?");
        var confirmado = await js.Confirm($"Desea borrar la película {pelicula.Titulo} ?");

        if (confirmado)
        {
            Console.WriteLine($"Eliminando la película");
            Peliculas!.Remove(pelicula);
        }
    }



}
