<div>
    <p>Título: @Pelicula.Titulo</p>

    @if (DateTime.Today.Subtract(Pelicula.FechaLanzamiento).Days <= 14)
    {
        <span class="bg-danger">Nuevo!</span>
    }


    <p>Fecha lanzamiento: <b>@Pelicula.FechaLanzamiento.ToString("dd MMM yyyy")</b></p>
</div>
<hr />

@code {

    [Parameter]
    public Pelicula? Pelicula { get; set; }

}
